{"openapi":"3.1.0","info":{"title":"ChurchMan App","summary":"An all-in-one Church Management Solution.","description":"\nThe ChurchMan App is a Church Management Solution (ChMS) that helps Churches manage her members, groups, events, assets, communications and finances (tithes, offerings, donations, seeds etc).\n\n# Modules\n\n## 1. Church Administration (_in progress_)\nThis manages the Church Hierarchy, Head Church, Churches at different levels and Church Leads, Groups and Sub-Groups.\nThis has the folowing Sub-Modules and endpoints:\n\n### 1.1 Herarchy Sub-Module\n<input type=\"checkbox\" checked> Get All Hierarchies &nbsp;\n<input type=\"checkbox\" checked> Get Hierarchy by Code &nbsp;\n<input type=\"checkbox\" checked> Activate Hierarchy by Code &nbsp;\n<input type=\"checkbox\" checked> Deactivate Hierarchy by Code &nbsp;\n<input type=\"checkbox\" checked> Update Hierarchy by Code &nbsp;\n<hr>\n\n### 1.2 Head Church Sub-Module\n<input type=\"checkbox\" checked> Create New Head Church &nbsp;\n<input type=\"checkbox\" checked> Get Head Church by Code &nbsp;\n<input type=\"checkbox\" checked> Update Head Church by Code &nbsp;\n<input type=\"checkbox\" checked> Activate Head Church by Code (Super Admin only) &nbsp;\n<input type=\"checkbox\" checked> Deactivate Head Church by Code (Super Admin only) &nbsp;\n<hr>\n\n### 1.3 Churches Sub-Module\n<input type=\"checkbox\" checked> Create New Church &nbsp;\n<input type=\"checkbox\" checked> Approved Church by Code &nbsp;\n<input type=\"checkbox\" checked> Get All Churches &nbsp;\n<input type=\"checkbox\" checked> Get Churches by Level &nbsp;\n<input type=\"checkbox\" checked> Get Church by Code &nbsp;\n<input type=\"checkbox\" checked> Update Church by Code &nbsp;\n<input type=\"checkbox\" checked> Activate Church by Code &nbsp;\n<input type=\"checkbox\" checked> Deactivate Church by Code &nbsp;\n<hr>\n\n### 1.4 Church Leads Sub-Module\n<input type=\"checkbox\" checked> Get Church Leads by Code &nbsp;\n<input type=\"checkbox\" checked> Unmap Church Leads by Code &nbsp;\n<input type=\"checkbox\" checked> Map Church Leads by Code &nbsp;\n<input type=\"checkbox\" checked> Get Churches by Lead Code &nbsp;\n<hr>\n\n### 1.5 Groups Sub-Module\n<input type=\"checkbox\" unchecked disabled> Create New Group &nbsp;\n<input type=\"checkbox\" unchecked disabled> Get All Groups &nbsp;\n<input type=\"checkbox\" unchecked disabled> Get Group by Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Get Group by Church Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Get Groups by Level Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Update Group by Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Activate Group by Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Deactivate Group by Code &nbsp;\n<hr>\n<br>\n\n## 2. Members Management (_in progress_) \nThis manages Members, Church Positions, Member Positions.\n\n### 2.1 Members Sub-Module\n<input type=\"checkbox\" checked> Create New Member &nbsp;\n<input type=\"checkbox\" checked> Get All Members &nbsp;\n<input type=\"checkbox\" checked> Get Member by Code &nbsp;\n<input type=\"checkbox\" checked> Get Current User Member &nbsp;\n<input type=\"checkbox\" checked> Get Members by Church Code &nbsp;\n<input type=\"checkbox\" checked> Get Members by Level Code &nbsp;\n<input type=\"checkbox\" checked> Update Member by Code &nbsp;\n<input type=\"checkbox\" checked> Update Current User Member &nbsp;\n<input type=\"checkbox\" checked> Activate Member by Code &nbsp;\n<input type=\"checkbox\" checked> Deactivate Member by Code &nbsp;\n<hr>\n<br>\n\n### 2.2 Member Positions Sub-Module\n<input type=\"checkbox\" unchecked disabled> Create New Member Position &nbsp;\n<input type=\"checkbox\" unchecked disabled> Get All Member Positions &nbsp;\n<input type=\"checkbox\" unchecked disabled> Get Member Position by Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Get Member Positions by Member Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Update Member Position by Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Activate Member Position by Code &nbsp;\n<input type=\"checkbox\" unchecked disabled> Deactivate Member Position by Code &nbsp;\n<hr>\n<br>\n\n\n## 3. User Management (_in progress_)\nThis managers users, user roles, user access to modules and submodules.\n\n## 4. Asset Management (_not implemented_)\nThis manages assets, asset types, assets allocation and locations.\n\n## 5. Event Management (_not implemented_)\nThis manages program events and events details.\n\n## 6. Finance Management (_not implemented_)\nThis manages tithes, offerings, donations, seeds etc.\n\n## 7. Communication Management (_not implemented_)\nThis manages all communication channels and messages.\n\n<br>\n","contact":{"name":"Gregory Ogbemudia","url":"https://github.com/OSQUAREG","email":"gregory.ogbemduia@gmail.com"},"license":{"name":"MIT License","identifier":"MIT","url":"https://spdx.org/licenses/MIT.html"},"version":"0.0.1"},"servers":[{"url":"https://development.churchman.com/v1","description":"Development server"},{"url":"https://test.churchman.com/v1","description":"Test server"},{"url":"https://staging.churchman.com/v1","description":"Staging server"},{"url":"https://api.churchman.com/v1","description":"Production server"}],"paths":{"/api/v1/auth/login":{"post":{"tags":["Authentication Operations"],"summary":"Login User","operationId":"Login_User_api_v1_auth_login_post","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_Login_User_api_v1_auth_login_post"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/select_level/{church_level}":{"post":{"tags":["Authentication Operations"],"summary":"Select Church Level/Re-Authenticate","operationId":"Select_Church_Level_Re_authenticate_api_v1_auth_select_level__church_level__post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_level","in":"path","required":true,"schema":{"type":"string","description":"hierarchy level code of the church to access","title":"Church Level"},"description":"hierarchy level code of the church to access"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenLevelResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/users/me":{"get":{"tags":["Authentication Operations"],"summary":"Get Current Active User","operationId":"Get_Current_Active_User_api_v1_auth_users_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/auth/user_access/me":{"get":{"tags":["Authentication Operations"],"summary":"Get Current Active User Access","operationId":"Get_Current_Active_User_Access_api_v1_auth_user_access_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/UserAccess"},"type":"array","title":"Response Get Current Active User Access Api V1 Auth User Access Me Get"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/auth/user_levels/me":{"get":{"tags":["Authentication Operations"],"summary":"Get Current Active User Levels","operationId":"Get_Current_Active_User_Levels_api_v1_auth_user_levels_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/UserLevels"},"type":"array","title":"Response Get Current Active User Levels Api V1 Auth User Levels Me Get"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/admin/hierarchy/":{"get":{"tags":["Hierarchy Sub-Module Operations"],"summary":"Get All Hierarchies","operationId":"Get_All_Hierarchies_api_v1_admin_hierarchy__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HierarchyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/hierarchy/{code}":{"get":{"tags":["Hierarchy Sub-Module Operations"],"summary":"Get Hierarchy By Code","operationId":"Get_Hierarchy_by_Code_api_v1_admin_hierarchy__code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"Code of the hierarchy to be retrieved","title":"Code"},"description":"Code of the hierarchy to be retrieved"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HierarchyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/hierarchy/{code}/activate":{"patch":{"tags":["Hierarchy Sub-Module Operations"],"summary":"Activate Hierarchy By Code","operationId":"Activate_Hierarchy_by_Code_api_v1_admin_hierarchy__code__activate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"Code of the hierarchy to be activated","title":"Code"},"description":"Code of the hierarchy to be activated"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HierarchyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/hierarchy/{code}/deactivate":{"patch":{"tags":["Hierarchy Sub-Module Operations"],"summary":"Deactivate Hierarchy By Code","operationId":"Deactivate_Hierarchy_by_Code_api_v1_admin_hierarchy__code__deactivate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"Code of the hierarchy to be deactivated","title":"Code"},"description":"Code of the hierarchy to be deactivated"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HierarchyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/hierarchy/{code}/update":{"put":{"tags":["Hierarchy Sub-Module Operations"],"summary":"Update Hierarchy By Code","operationId":"Update_Hierarchy_by_Code_api_v1_admin_hierarchy__code__update_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"Code of the hierarchy to be updated","title":"Code"},"description":"Code of the hierarchy to be updated"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HierarchyUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HierarchyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/head_church/{code}/activate":{"patch":{"tags":["Head Church Sub-Module Operations - Super Admin only"],"summary":"Activate Head Church By Code","operationId":"Activate_Head_Church_by_Code_api_v1_admin_head_church__code__activate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"code of the head church to be activated","title":"Code"},"description":"code of the head church to be activated"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeadChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/head_church/{code}/deactivate":{"patch":{"tags":["Head Church Sub-Module Operations - Super Admin only"],"summary":"Deactivate Head Church By Code","operationId":"Deactivate_Head_Church_by_Code_api_v1_admin_head_church__code__deactivate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"code of the head church to be deactivated","title":"Code"},"description":"code of the head church to be deactivated"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeadChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/head_church/create":{"post":{"tags":["Head Church Sub-Module Operations"],"summary":"Create New Head Church","operationId":"Create_New_Head_Church_api_v1_head_church_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeadChurchCreate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeadChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/head_church/{code}":{"get":{"tags":["Head Church Sub-Module Operations"],"summary":"Get Head Church By Code","operationId":"Get_Head_Church_by_Code_api_v1_head_church__code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"code of the head church to be retrieved","title":"Code"},"description":"code of the head church to be retrieved"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeadChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/head_church/update/{code}":{"put":{"tags":["Head Church Sub-Module Operations"],"summary":"Update Head Church By Code","operationId":"Update_Head_Church_by_Code_api_v1_head_church_update__code__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"code of the head church to be updated","title":"Code"},"description":"code of the head church to be updated"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeadChurchUpdateIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeadChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church/create/{level_code}":{"post":{"tags":["Churches Sub-Module Operations"],"summary":"Create New Church","operationId":"Create_New_Church_api_v1_church_create__level_code__post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"level_code","in":"path","required":true,"schema":{"type":"string","description":"hierarchical level of the new church","title":"Level Code"},"description":"hierarchical level of the new church"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchBase"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church/{id_code}/approve":{"patch":{"tags":["Churches Sub-Module Operations"],"summary":"Approve Church By Id Or Code","operationId":"Approve_Church_by_Id_or_Code_api_v1_church__id_code__approve_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"id_code","in":"path","required":true,"schema":{"type":"string","description":"code of the church to be approved","title":"Id Code"},"description":"code of the church to be approved"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church/":{"get":{"tags":["Churches Sub-Module Operations"],"summary":"Get All Churches","operationId":"Get_All_Churches_api_v1_church__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"status_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"(Optional) status of the churches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected","title":"Status Code"},"description":"(Optional) status of the churches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church/level/{level_code}":{"get":{"tags":["Churches Sub-Module Operations"],"summary":"Get Churches By Level","operationId":"Get_Churches_by_Level_api_v1_church_level__level_code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"level_code","in":"path","required":true,"schema":{"type":"string","title":"Level Code"}},{"name":"status_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"(Optional) status of the churches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected","title":"Status Code"},"description":"(Optional) status of the churches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church/{id_code}":{"get":{"tags":["Churches Sub-Module Operations"],"summary":"Get Church By Id Or Code","operationId":"Get_Church_by_Id_or_Code_api_v1_church__id_code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"id_code","in":"path","required":true,"schema":{"type":"string","title":"Id Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church/{code}/update":{"put":{"tags":["Churches Sub-Module Operations"],"summary":"Update Church By Code","operationId":"Update_Church_by_Code_api_v1_church__code__update_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","title":"Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/church/{code}/activate":{"patch":{"tags":["Churches Sub-Module Operations - Admin only"],"summary":"Activate Church By Code","operationId":"Activate_Church_by_Code_api_v1_admin_church__code__activate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"code of the church to be activated","title":"Code"},"description":"code of the church to be activated"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/church/{code}/deactivate":{"patch":{"tags":["Churches Sub-Module Operations - Admin only"],"summary":"Deactivate Church By Code","operationId":"Deactivate_Church_by_Code_api_v1_admin_church__code__deactivate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","description":"code of the church to be deactivated","title":"Code"},"description":"code of the church to be deactivated"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church_leads/{church_code}":{"get":{"tags":["Church Leads Sub-Module Operations"],"summary":"Get Church Lead","operationId":"Get_Church_Lead_api_v1_church_leads__church_code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_code","in":"path","required":true,"schema":{"type":"string","description":"code of the church mapped","title":"Church Code"},"description":"code of the church mapped"},{"name":"status_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"(Optional) status of the branches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected","title":"Status Code"},"description":"(Optional) status of the branches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchLeadsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church_leads/{church_code}/{lead_code}/approve":{"patch":{"tags":["Church Leads Sub-Module Operations"],"summary":"Approve Church Lead By Code","operationId":"Approve_Church_Lead_by_Code_api_v1_church_leads__church_code___lead_code__approve_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_code","in":"path","required":true,"schema":{"type":"string","description":"code of the church mapped","title":"Church Code"},"description":"code of the church mapped"},{"name":"lead_code","in":"path","required":true,"schema":{"type":"string","description":"code of the lead church","title":"Lead Code"},"description":"code of the lead church"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchLeadsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church_leads/{lead_code}/churches":{"get":{"tags":["Church Leads Sub-Module Operations"],"summary":"Get All Churches By Leads Code","operationId":"Get_All_Churches_by_Leads_Code_api_v1_church_leads__lead_code__churches_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"lead_code","in":"path","required":true,"schema":{"type":"string","description":"code of the lead church","title":"Lead Code"},"description":"code of the lead church"},{"name":"status_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"(Optional) status of the branches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected.","title":"Status Code"},"description":"(Optional) status of the branches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected."},{"name":"level_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"(Optional) church hierarchical level to retrieve.","title":"Level Code"},"description":"(Optional) church hierarchical level to retrieve."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church_leads/{church_code}/branches":{"get":{"tags":["Church Leads Sub-Module Operations"],"summary":"Get Branches By Church","operationId":"Get_Branches_by_Church_api_v1_church_leads__church_code__branches_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_code","in":"path","required":true,"schema":{"type":"string","description":"code of the church to retrieve branches","title":"Church Code"},"description":"code of the church to retrieve branches"},{"name":"status_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"(Optional) status of the branches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected","title":"Status Code"},"description":"(Optional) status of the branches to retrieve: ACT-active, INA-inactive, AWT-awaiting, APR-approved, REJ-rejected"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/church_leads/{church_code}/hierarchy":{"get":{"tags":["Church Leads Sub-Module Operations"],"summary":"Get Church Lead Hierarchy","operationId":"Get_Church_Lead_Hierarchy_api_v1_church_leads__church_code__hierarchy_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_code","in":"path","required":true,"schema":{"title":"Church Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchLeadHierarchyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/church_leads/{church_code}/unmap":{"patch":{"tags":["Church Leads Sub-Module Operations - Admin only"],"summary":"Unmap Church Lead","operationId":"Unmap_Church_Lead_api_v1_admin_church_leads__church_code__unmap_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_code","in":"path","required":true,"schema":{"type":"string","description":"code of the church to be unmaped","title":"Church Code"},"description":"code of the church to be unmaped"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchLeadsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/church_leads/{church_code}/map/{lead_code}":{"post":{"tags":["Church Leads Sub-Module Operations - Admin only"],"summary":"Map Church Lead","operationId":"Map_Church_Lead_api_v1_admin_church_leads__church_code__map__lead_code__post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_code","in":"path","required":true,"schema":{"type":"string","description":"code of the church to be mapped","title":"Church Code"},"description":"code of the church to be mapped"},{"name":"lead_code","in":"path","required":true,"schema":{"type":"string","description":"code of the church lead to map to","title":"Lead Code"},"description":"code of the church lead to map to"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChurchLeadsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/members/":{"get":{"tags":["Members Sub-Module Operations"],"summary":"Get All Members","operationId":"Get_All_Members_api_v1_members__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/members/current":{"get":{"tags":["Members Sub-Module Operations"],"summary":"Get Current User Member","operationId":"Get_Current_User_Member_api_v1_members_current_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/members/{member_code_id}":{"get":{"tags":["Members Sub-Module Operations"],"summary":"Get Member By Code Or Id","operationId":"Get_Member_by_Code_or_Id_api_v1_members__member_code_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code_id","in":"path","required":true,"schema":{"type":"string","title":"Member Code Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/members/church/{church_code}":{"get":{"tags":["Members Sub-Module Operations"],"summary":"Get Members By Church Code","operationId":"Get_Members_by_Church_Code_api_v1_members_church__church_code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"church_code","in":"path","required":true,"schema":{"type":"string","title":"Church Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/members/current/update":{"put":{"tags":["Members Sub-Module Operations"],"summary":"Update Current User Member","operationId":"Update_Current_User_Member_api_v1_members_current_update_put","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUpdate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/members/{code}/update":{"put":{"tags":["Members Sub-Module Operations"],"summary":"Update Member By Code Or Id","operationId":"Update_Member_by_Code_or_Id_api_v1_members__code__update_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"query","required":true,"schema":{"type":"string","title":"Member Code"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/members/create":{"post":{"tags":["Members Sub-Module Operations - Admin only"],"summary":"Create New Member","operationId":"Create_New_Member_api_v1_admin_members_create_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberIn"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/admin/members/{member_code}/deactivate":{"patch":{"tags":["Members Sub-Module Operations - Admin only"],"summary":"Deactivate Member By Code","operationId":"Deactivate_Member_by_Code_api_v1_admin_members__member_code__deactivate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","description":"code of the member to be deactivated","title":"Member Code"},"description":"code of the member to be deactivated"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/members/{member_code}/activate":{"patch":{"tags":["Members Sub-Module Operations - Admin only"],"summary":"Activate Member By Code","operationId":"Activate_Member_by_Code_api_v1_admin_members__member_code__activate_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","description":"code of the member to be activated","title":"Member Code"},"description":"code of the member to be activated"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchJoinIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/members/{member_code_id}/promote_to_clergy":{"patch":{"tags":["Members Sub-Module Operations - Admin only"],"summary":"Promote Member To Clergy","operationId":"Promote_Member_to_Clergy_api_v1_admin_members__member_code_id__promote_to_clergy_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code_id","in":"path","required":true,"schema":{"type":"string","description":"code of the member to be promoted to clergy","title":"Member Code Id"},"description":"code of the member to be promoted to clergy"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/members/{member_code_id}/demote_from_clergy":{"patch":{"tags":["Members Sub-Module Operations - Admin only"],"summary":"Demote Member From Clergy","operationId":"Demote_Member_from_Clergy_api_v1_admin_members__member_code_id__demote_from_clergy_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code_id","in":"path","required":true,"schema":{"type":"string","description":"code of the member to be demoted from clergy","title":"Member Code Id"},"description":"code of the member to be demoted from clergy"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/member_branch/{member_code}/branch":{"get":{"tags":["Member-Branch Sub-Module Operations"],"summary":"Get Member Current Branch","operationId":"Get_Member_Current_Branch_api_v1_member_branch__member_code__branch_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","title":"Member Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/member_branch/{member_code}/branch/{branch_code}":{"get":{"tags":["Member-Branch Sub-Module Operations"],"summary":"Get Specific Member-Branch By Code","operationId":"Get_Specific_Member_Branch_by_Code_api_v1_member_branch__member_code__branch__branch_code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","title":"Member Code"}},{"name":"branch_code","in":"path","required":true,"schema":{"type":"string","title":"Branch Code"}},{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/member_branch/{member_code}/branches":{"get":{"tags":["Member-Branch Sub-Module Operations"],"summary":"Get All Member-Branches By Member Code","operationId":"Get_All_Member_Branches_by_Member_Code_api_v1_member_branch__member_code__branches_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","title":"Member Code"}},{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/member_branch/{member_code}/hierarchy":{"get":{"tags":["Member-Branch Sub-Module Operations"],"summary":"Get Member Church Hierarchy","operationId":"Get_Member_Church_Hierarchy_api_v1_member_branch__member_code__hierarchy_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","description":"code of member","title":"Member Code"},"description":"code of member"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberChurchHierarchyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/member_branch/{member_code}/exit":{"patch":{"tags":["Member-Branch Sub-Module Operations - Admin only"],"summary":"Exit Member From Church","operationId":"Exit_Member_From_Church_api_v1_admin_member_branch__member_code__exit_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","description":"code of member to be exited","title":"Member Code"},"description":"code of member to be exited"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchExitIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/member_branch/{member_code}/exit_all":{"patch":{"tags":["Member-Branch Sub-Module Operations - Admin only"],"summary":"Exit Member From All Churches","operationId":"Exit_Member_From_All_Churches_api_v1_admin_member_branch__member_code__exit_all_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","title":"Member Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/member_branch/{member_code}/join":{"patch":{"tags":["Member-Branch Sub-Module Operations - Admin only"],"summary":"Join Member To Church","operationId":"Join_Member_To_Church_api_v1_admin_member_branch__member_code__join_patch","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","description":"code of the member to be joined","title":"Member Code"},"description":"code of the member to be joined"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchJoinIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/member_branch/{member_branch_id}/update_reason":{"put":{"tags":["Member-Branch Sub-Module Operations - Admin only"],"summary":"Update Member-Branch Reason","operationId":"Update_Member_Branch_Reason_api_v1_admin_member_branch__member_branch_id__update_reason_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_branch_id","in":"path","required":true,"schema":{"type":"integer","title":"Member Branch Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberBranchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/user/{user_code}":{"get":{"tags":["Users Administration Sub-Module Operations"],"summary":"Get User Details","operationId":"Get_User_Details_api_v1_user__user_code__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"user_code","in":"path","required":true,"schema":{"type":"string","description":"Code of the user to be retrieved","title":"User Code"},"description":"Code of the user to be retrieved"},{"name":"authorization","in":"header","required":true,"schema":{"type":"string","description":"Bearer token","title":"Authorization"},"description":"Bearer token"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/admin/user/{member_code}/create":{"post":{"tags":["Users Administration Sub-Module Operations - Admin only"],"summary":"Create User From Member","operationId":"Create_User_From_Member_api_v1_admin_user__member_code__create_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_code","in":"path","required":true,"schema":{"type":"string","description":"Code of the member to be created as a user","title":"Member Code"},"description":"Code of the member to be created as a user"},{"name":"role_code","in":"query","required":true,"schema":{"type":"string","description":"Code of the role to be assigned to the new user","title":"Role Code"},"description":"Code of the role to be assigned to the new user"},{"name":"level_code","in":"query","required":true,"schema":{"type":"string","description":"Code of the level to be assigned to the new user","title":"Level Code"},"description":"Code of the level to be assigned to the new user"}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"Body_Login_User_api_v1_auth_login_post":{"properties":{"grant_type":{"anyOf":[{"type":"string","pattern":"password"},{"type":"null"}],"title":"Grant Type"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"scope":{"type":"string","title":"Scope","default":""},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"}},"type":"object","required":["username","password"],"title":"Body_Login_User_api_v1_auth_login_post"},"Church":{"properties":{"Id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id"},"Code":{"anyOf":[{"type":"string","maxLength":18},{"type":"null"}],"title":"Code","examples":["TEST-AAA-000000000"]},"Name":{"type":"string","maxLength":255,"title":"Name","examples":["Test Church"]},"Alt_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Alt Name","examples":["Test Church Alternate Name"]},"Address":{"type":"string","maxLength":255,"title":"Address","examples":["This is the address of the Church"]},"Founding_Date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Founding Date","examples":["2000-12-31"]},"About":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About","examples":["This is about the Church"]},"Mission":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Mission","examples":["This is the mission of the Church"]},"Vision":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Vision","examples":["This is the vision of the Church"]},"Motto":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Motto","examples":["This is the moto of the Church"]},"Contact_No":{"type":"string","maxLength":25,"minLength":7,"format":"phone","title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25,"minLength":7,"format":"phone"},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe2@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]},"Status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"},"Status_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Status Date"},"Status_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status By"},"Level_Code":{"type":"string","title":"Level Code"},"HeadChurch_Code":{"type":"string","title":"Headchurch Code"},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":true},"Created_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Date"},"Created_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created By"},"Modified_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Modified Date"},"Modified_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modified By"}},"type":"object","required":["Name","Address","Contact_No","Contact_Email","Town_Code","State_Code","Region_Code","Country_Code","Level_Code","HeadChurch_Code"],"title":"Church"},"ChurchBase":{"properties":{"Name":{"type":"string","maxLength":255,"title":"Name","examples":["Test Church"]},"Alt_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Alt Name","examples":["Test Church Alternate Name"]},"Address":{"type":"string","maxLength":255,"title":"Address","examples":["This is the address of the Church"]},"Founding_Date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Founding Date","examples":["2000-12-31"]},"About":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About","examples":["This is about the Church"]},"Mission":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Mission","examples":["This is the mission of the Church"]},"Vision":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Vision","examples":["This is the vision of the Church"]},"Motto":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Motto","examples":["This is the moto of the Church"]},"Contact_No":{"type":"string","maxLength":25,"minLength":7,"format":"phone","title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25,"minLength":7,"format":"phone"},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe2@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]}},"type":"object","required":["Name","Address","Contact_No","Contact_Email","Town_Code","State_Code","Region_Code","Country_Code"],"title":"ChurchBase"},"ChurchLeadHierarchy":{"properties":{"Church_Code":{"type":"string","title":"Church Code"},"Church_Name":{"type":"string","title":"Church Name"},"Church_Level":{"type":"string","title":"Church Level"},"LeadCode_1":{"type":"string","title":"Leadcode 1"},"LeadName_1":{"type":"string","title":"Leadname 1"},"LeadLevel_1":{"type":"string","title":"Leadlevel 1"},"LeadCode_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 2"},"LeadName_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 2"},"LeadLevel_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 2"},"LeadCode_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 3"},"LeadName_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 3"},"LeadLevel_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 3"},"LeadCode_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 4"},"LeadName_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 4"},"LeadLevel_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 4"},"LeadCode_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 5"},"LeadName_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 5"},"LeadLevel_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 5"},"LeadCode_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 6"},"LeadName_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 6"},"LeadLevel_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 6"},"LeadCode_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 7"},"LeadName_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 7"},"LeadLevel_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 7"},"LeadCode_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 8"},"LeadName_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 8"},"LeadLevel_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 8"},"LeadCode_9":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 9"},"LeadName_9":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 9"},"LeadLevel_9":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 9"},"LeadCode_10":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 10"},"LeadName_10":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 10"},"LeadLevel_10":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 10"}},"type":"object","required":["Church_Code","Church_Name","Church_Level","LeadCode_1","LeadName_1","LeadLevel_1"],"title":"ChurchLeadHierarchy"},"ChurchLeadHierarchyResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/ChurchLeadHierarchy"},"type":"array"},{"$ref":"#/components/schemas/ChurchLeadHierarchy"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"ChurchLeadHierarchyResponse"},"ChurchLeads":{"properties":{"Id":{"type":"integer","title":"Id"},"Church_Code":{"type":"string","title":"Church Code"},"Church_Name":{"type":"string","title":"Church Name"},"Level_Code":{"type":"string","title":"Level Code"},"LeadChurch_Code":{"type":"string","title":"Leadchurch Code"},"LeadChurch_Name":{"type":"string","title":"Leadchurch Name"},"LeadChurch_Level":{"type":"string","title":"Leadchurch Level"},"Start_Date":{"type":"string","format":"date-time","title":"Start Date"},"End_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"End Date"},"Is_Active":{"type":"boolean","title":"Is Active"},"HeadChurch_Code":{"type":"string","title":"Headchurch Code"},"Created_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Date"},"Created_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created By"},"Modified_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Modified Date"},"Modified_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modified By"},"Status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"},"Status_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Status Date"},"Status_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status By"}},"type":"object","required":["Id","Church_Code","Church_Name","Level_Code","LeadChurch_Code","LeadChurch_Name","LeadChurch_Level","Start_Date","Is_Active","HeadChurch_Code"],"title":"ChurchLeads"},"ChurchLeadsResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/ChurchLeads"},"type":"array"},{"$ref":"#/components/schemas/ChurchLeads"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"ChurchLeadsResponse"},"ChurchResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/Church"},"type":"array"},{"$ref":"#/components/schemas/Church"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"ChurchResponse"},"ChurchUpdate":{"properties":{"Name":{"type":"string","maxLength":255,"title":"Name","examples":["Test Church"]},"Alt_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Alt Name","examples":["Test Church Alternate Name"]},"Address":{"type":"string","maxLength":255,"title":"Address","examples":["This is the address of the Church"]},"Founding_Date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Founding Date","examples":["2000-12-31"]},"About":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About","examples":["This is about the Church"]},"Mission":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Mission","examples":["This is the mission of the Church"]},"Vision":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Vision","examples":["This is the vision of the Church"]},"Motto":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Motto","examples":["This is the motto of the Church"]},"Contact_No":{"type":"string","maxLength":25,"minLength":7,"format":"phone","title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25,"minLength":7,"format":"phone"},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe2@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]}},"type":"object","title":"ChurchUpdate"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HeadChurch":{"properties":{"Code":{"type":"string","maxLength":4,"title":"Code","examples":["TEST"]},"Name":{"type":"string","maxLength":255,"title":"Name","examples":["Test Church"]},"Alt_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Alt Name","examples":["Test Church Alternate Name"]},"Address":{"type":"string","maxLength":255,"title":"Address","examples":["This is the address of the Church"]},"Founding_Date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Founding Date","examples":["2000-12-31"]},"About":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About","examples":["This is about the Church"]},"Mission":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Mission","examples":["This is the mission of the Church"]},"Vision":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Vision","examples":["This is the vision of the Church"]},"Motto":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Motto","examples":["This is the moto of the Church"]},"Contact_No":{"type":"string","maxLength":25,"minLength":7,"format":"phone","title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25,"minLength":7,"format":"phone"},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe2@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":true},"Created_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Date"},"Created_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created By"},"Modified_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Modified Date"},"Modified_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modified By"},"Id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id"}},"type":"object","required":["Code","Name","Address","Contact_No","Contact_Email","Town_Code","State_Code","Region_Code","Country_Code"],"title":"HeadChurch"},"HeadChurchCreate":{"properties":{"Code":{"type":"string","maxLength":4,"title":"Code","examples":["TEST"]},"Name":{"type":"string","maxLength":255,"title":"Name","examples":["Test Church"]},"Alt_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Alt Name","examples":["Test Church Alternate Name"]},"Address":{"type":"string","maxLength":255,"title":"Address","examples":["This is the address of the Church"]},"Founding_Date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Founding Date","examples":["2000-12-31"]},"About":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About","examples":["This is about the Church"]},"Mission":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Mission","examples":["This is the mission of the Church"]},"Vision":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Vision","examples":["This is the vision of the Church"]},"Motto":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Motto","examples":["This is the moto of the Church"]},"Contact_No":{"type":"string","maxLength":25,"minLength":7,"format":"phone","title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25,"minLength":7,"format":"phone"},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe2@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]}},"type":"object","required":["Code","Name","Address","Contact_No","Contact_Email","Town_Code","State_Code","Region_Code","Country_Code"],"title":"HeadChurchCreate"},"HeadChurchResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/HeadChurch"},"type":"array"},{"$ref":"#/components/schemas/HeadChurch"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"HeadChurchResponse"},"HeadChurchUpdateIn":{"properties":{"Code":{"type":"string","maxLength":4,"title":"Code","examples":["TEST"]},"Name":{"type":"string","maxLength":255,"title":"Name","examples":["Test Church"]},"Alt_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Alt Name","examples":["Test Church Alternate Name"]},"Address":{"type":"string","maxLength":255,"title":"Address","examples":["This is the address of the Church"]},"Founding_Date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Founding Date","examples":["2000-12-31"]},"About":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About","examples":["This is about the Church"]},"Mission":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Mission","examples":["This is the mission of the Church"]},"Vision":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Vision","examples":["This is the vision of the Church"]},"Motto":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Motto","examples":["This is the motto of the Church"]},"Contact_No":{"type":"string","maxLength":25,"minLength":7,"format":"phone","title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25,"minLength":7,"format":"phone"},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe2@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]}},"type":"object","title":"HeadChurchUpdateIn"},"Hierarchy":{"properties":{"Level_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Level Code"},"Level_No":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Level No"},"Head_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Head Code"},"Church_Level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Church Level"},"ChurchLevel_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Churchlevel Code"},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":true},"Created_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created By"},"Created_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Date"},"Modified_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modified By"},"Modified_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Modified Date"}},"type":"object","title":"Hierarchy"},"HierarchyResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/Hierarchy"},"type":"array"},{"$ref":"#/components/schemas/Hierarchy"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"HierarchyResponse"},"HierarchyUpdate":{"properties":{"Church_Level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Church Level"},"ChurchLevel_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Churchlevel Code"},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":true}},"type":"object","title":"HierarchyUpdate"},"Member":{"properties":{"Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Code"},"First_Name":{"type":"string","maxLength":255,"title":"First Name","examples":["John"]},"Middle_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Middle Name","examples":["Janet"]},"Last_Name":{"type":"string","maxLength":255,"title":"Last Name","examples":["Doe"]},"Title":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Title","examples":["Dr"]},"Title2":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Title2","examples":["Mrs"]},"Family_Name":{"type":"string","maxLength":255,"title":"Family Name","examples":["Doe"]},"Is_FamilyHead":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Familyhead","default":false},"Home_Address":{"type":"string","maxLength":500,"title":"Home Address","examples":["This is the address of the Member"]},"Date_of_Birth":{"type":"string","format":"date","title":"Date Of Birth","examples":["2000-12-31"]},"Gender":{"type":"string","maxLength":1,"title":"Gender","examples":["M"]},"Marital_Status":{"type":"string","maxLength":4,"title":"Marital Status","examples":["SIG"]},"Employ_Status":{"type":"string","maxLength":4,"title":"Employ Status","examples":["EMPD"]},"Occupation":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Occupation","examples":["Doctor"]},"Office_Address":{"anyOf":[{"type":"string","maxLength":500},{"type":"null"}],"title":"Office Address","examples":["This is the address of the Office"]},"State_of_Origin":{"type":"string","maxLength":4,"title":"State Of Origin","examples":["EDO"]},"Country_of_Origin":{"type":"string","maxLength":4,"title":"Country Of Origin","examples":["NIG"]},"Personal_Contact_No":{"anyOf":[{"type":"string","maxLength":25},{"type":"null"}],"title":"Personal Contact No","examples":["+2348012345678"]},"Contact_No":{"type":"string","maxLength":25,"title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Personal_Email":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Personal Email","examples":["john.doe@example.com"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]},"Type":{"type":"string","maxLength":3,"title":"Type","examples":["MBR"]},"Is_Clergy":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Clergy","default":false},"Branch_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Code"},"Join_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Join Date"},"Join_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Join Code"},"Join_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Join Note"},"Exit_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Exit Date"},"Exit_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exit Code"},"Exit_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exit Note"},"Is_User":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is User","default":false},"Clergy_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Clergy Code"},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":true},"HeadChurch_Code":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"Headchurch Code","examples":["TEST"]},"Created_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Date"},"Created_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created By"},"Modified_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Modified Date"},"Modified_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modified By"},"Id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id"}},"type":"object","required":["First_Name","Last_Name","Family_Name","Home_Address","Date_of_Birth","Gender","Marital_Status","Employ_Status","State_of_Origin","Country_of_Origin","Contact_No","Contact_Email","Town_Code","State_Code","Region_Code","Country_Code","Type","HeadChurch_Code"],"title":"Member"},"MemberBranchExitIn":{"properties":{"Branch_Code":{"type":"string","title":"Branch Code"},"Exit_Date":{"type":"string","format":"date-time","title":"Exit Date"},"Exit_Code":{"type":"string","title":"Exit Code"},"Exit_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exit Note"}},"type":"object","required":["Branch_Code","Exit_Date","Exit_Code"],"title":"MemberBranchExitIn"},"MemberBranchJoinIn":{"properties":{"Branch_Code":{"type":"string","title":"Branch Code"},"Join_Date":{"type":"string","format":"date-time","title":"Join Date"},"Join_Code":{"type":"string","title":"Join Code"},"Join_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Join Note"}},"type":"object","required":["Branch_Code","Join_Date","Join_Code"],"title":"MemberBranchJoinIn"},"MemberBranchOut":{"properties":{"Id":{"type":"integer","title":"Id"},"Member_Code":{"type":"string","title":"Member Code"},"Title":{"type":"string","title":"Title"},"Title2":{"type":"string","title":"Title2"},"First_Name":{"type":"string","title":"First Name"},"Middle_Name":{"type":"string","title":"Middle Name"},"Last_Name":{"type":"string","title":"Last Name"},"Branch_Code":{"type":"string","title":"Branch Code"},"Branch_Name":{"type":"string","title":"Branch Name"},"Join_Date":{"type":"string","format":"date-time","title":"Join Date"},"Join_Code":{"type":"string","title":"Join Code"},"Join_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Join Note"},"Exit_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Exit Date"},"Exit_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exit Code"},"Exit_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exit Note"},"HeadChurch_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headchurch Code"},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":true},"Created_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Date"},"Created_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created By"},"Modified_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Modified Date"},"Modified_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modified By"}},"type":"object","required":["Id","Member_Code","Title","Title2","First_Name","Middle_Name","Last_Name","Branch_Code","Branch_Name","Join_Date","Join_Code"],"title":"MemberBranchOut"},"MemberBranchResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/MemberBranchOut"},"type":"array"},{"$ref":"#/components/schemas/MemberBranchOut"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"MemberBranchResponse"},"MemberBranchUpdate":{"properties":{"Join_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Join Date"},"Join_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Join Code"},"Join_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Join Note"},"Exit_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Exit Date"},"Exit_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exit Code"},"Exit_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exit Note"}},"type":"object","title":"MemberBranchUpdate"},"MemberChurchHierarchy":{"properties":{"Member_Code":{"type":"string","title":"Member Code"},"LeadCode_1":{"type":"string","title":"Leadcode 1"},"LeadName_1":{"type":"string","title":"Leadname 1"},"LeadLevel_1":{"type":"string","title":"Leadlevel 1"},"LeadCode_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 2"},"LeadName_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 2"},"LeadLevel_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 2"},"LeadCode_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 3"},"LeadName_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 3"},"LeadLevel_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 3"},"LeadCode_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 4"},"LeadName_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 4"},"LeadLevel_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 4"},"LeadCode_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 5"},"LeadName_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 5"},"LeadLevel_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 5"},"LeadCode_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 6"},"LeadName_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 6"},"LeadLevel_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 6"},"LeadCode_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 7"},"LeadName_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 7"},"LeadLevel_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 7"},"LeadCode_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 8"},"LeadName_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 8"},"LeadLevel_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 8"},"LeadCode_9":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 9"},"LeadName_9":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 9"},"LeadLevel_9":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 9"},"LeadCode_10":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadcode 10"},"LeadName_10":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadname 10"},"LeadLevel_10":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leadlevel 10"}},"type":"object","required":["Member_Code","LeadCode_1","LeadName_1","LeadLevel_1"],"title":"MemberChurchHierarchy"},"MemberChurchHierarchyResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/MemberChurchHierarchy"},"type":"array"},{"$ref":"#/components/schemas/MemberChurchHierarchy"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"MemberChurchHierarchyResponse"},"MemberIn":{"properties":{"First_Name":{"type":"string","maxLength":255,"title":"First Name","examples":["John"]},"Middle_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Middle Name","examples":["Janet"]},"Last_Name":{"type":"string","maxLength":255,"title":"Last Name","examples":["Doe"]},"Title":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Title","examples":["Dr"]},"Title2":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Title2","examples":["Mrs"]},"Family_Name":{"type":"string","maxLength":255,"title":"Family Name","examples":["Doe"]},"Is_FamilyHead":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Familyhead","default":false},"Home_Address":{"type":"string","maxLength":500,"title":"Home Address","examples":["This is the address of the Member"]},"Date_of_Birth":{"type":"string","format":"date","title":"Date Of Birth","examples":["2000-12-31"]},"Gender":{"type":"string","maxLength":1,"title":"Gender","examples":["M"]},"Marital_Status":{"type":"string","maxLength":4,"title":"Marital Status","examples":["SIG"]},"Employ_Status":{"type":"string","maxLength":4,"title":"Employ Status","examples":["EMPD"]},"Occupation":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Occupation","examples":["Doctor"]},"Office_Address":{"anyOf":[{"type":"string","maxLength":500},{"type":"null"}],"title":"Office Address","examples":["This is the address of the Office"]},"State_of_Origin":{"type":"string","maxLength":4,"title":"State Of Origin","examples":["EDO"]},"Country_of_Origin":{"type":"string","maxLength":4,"title":"Country Of Origin","examples":["NIG"]},"Personal_Contact_No":{"anyOf":[{"type":"string","maxLength":25},{"type":"null"}],"title":"Personal Contact No","examples":["+2348012345678"]},"Contact_No":{"type":"string","maxLength":25,"title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Personal_Email":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Personal Email","examples":["john.doe@example.com"]},"Contact_Email":{"type":"string","maxLength":255,"format":"email","title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe@example.com"]},"Town_Code":{"type":"string","maxLength":4,"title":"Town Code","examples":["BEN"]},"State_Code":{"type":"string","maxLength":4,"title":"State Code","examples":["EDO"]},"Region_Code":{"type":"string","maxLength":4,"title":"Region Code","examples":["SOUT"]},"Country_Code":{"type":"string","maxLength":4,"title":"Country Code","examples":["NIG"]},"Type":{"type":"string","maxLength":3,"title":"Type","examples":["MBR"]},"Is_Clergy":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Clergy","default":false},"Branch_Code":{"type":"string","title":"Branch Code"},"Join_Date":{"type":"string","format":"date-time","title":"Join Date"},"Join_Code":{"type":"string","title":"Join Code"},"Join_Note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Join Note"}},"type":"object","required":["First_Name","Last_Name","Family_Name","Home_Address","Date_of_Birth","Gender","Marital_Status","Employ_Status","State_of_Origin","Country_of_Origin","Contact_No","Contact_Email","Town_Code","State_Code","Region_Code","Country_Code","Type","Branch_Code","Join_Date","Join_Code"],"title":"MemberIn"},"MemberResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/Member"},"type":"array"},{"$ref":"#/components/schemas/Member"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"MemberResponse"},"MemberUpdate":{"properties":{"First_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"First Name","examples":["John"]},"Middle_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Middle Name","examples":["Janet"]},"Last_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Last Name","examples":["Doe"]},"Title":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Title","examples":["Dr"]},"Title2":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Title2","examples":["Mrs"]},"Family_Name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Family Name","examples":["Doe"]},"Is_FamilyHead":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Familyhead","default":false},"Home_Address":{"anyOf":[{"type":"string","maxLength":500},{"type":"null"}],"title":"Home Address","examples":["This is the address of the Member"]},"Date_of_Birth":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Of Birth","examples":["2000-12-31"]},"Gender":{"anyOf":[{"type":"string","maxLength":1},{"type":"null"}],"title":"Gender","examples":["M"]},"Marital_Status":{"anyOf":[{"type":"string","maxLength":3},{"type":"null"}],"title":"Marital Status","examples":["MRD"]},"Employ_Status":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"Employ Status","examples":["EMPD"]},"Occupation":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Occupation","examples":["Professor"]},"Office_Address":{"anyOf":[{"type":"string","maxLength":500},{"type":"null"}],"title":"Office Address","examples":["This is the address of the Office"]},"State_of_Origin":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"State Of Origin","examples":["EDO"]},"Country_of_Origin":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"Country Of Origin","examples":["NIG"]},"Personal_Contact_No":{"anyOf":[{"type":"string","maxLength":25},{"type":"null"}],"title":"Personal Contact No","examples":["+2348012345678"]},"Contact_No":{"anyOf":[{"type":"string","maxLength":25},{"type":"null"}],"title":"Contact No","examples":["+2348012345678"]},"Contact_No2":{"anyOf":[{"type":"string","maxLength":25},{"type":"null"}],"title":"Contact No2","examples":["+2348012345678"]},"Personal_Email":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Personal Email","examples":["john.doe@example.com"]},"Contact_Email":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email","examples":["john.doe@example.com"]},"Contact_Email2":{"anyOf":[{"type":"string","maxLength":255,"format":"email"},{"type":"null"}],"title":"Contact Email2","examples":["john.doe@example.com"]},"Town_Code":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"Town Code","examples":["BEN"]},"State_Code":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"State Code","examples":["EDO"]},"Region_Code":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"Region Code","examples":["SOUT"]},"Country_Code":{"anyOf":[{"type":"string","maxLength":4},{"type":"null"}],"title":"Country Code","examples":["NIG"]},"Type":{"anyOf":[{"type":"string","maxLength":3},{"type":"null"}],"title":"Type","examples":["MBR"]},"Is_Clergy":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Clergy","default":false}},"type":"object","title":"MemberUpdate"},"TokenLevelResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"access_token":{"type":"string","title":"Access Token"},"token_type":{"type":"string","title":"Token Type"},"user_access":{"anyOf":[{"items":{"$ref":"#/components/schemas/UserLevel"},"type":"array"},{"$ref":"#/components/schemas/UserLevel"},{"type":"null"}],"title":"User Access"}},"type":"object","required":["status_code","message","access_token","token_type"],"title":"TokenLevelResponse"},"TokenResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"access_token":{"type":"string","title":"Access Token"},"token_type":{"type":"string","title":"Token Type"},"user":{"anyOf":[{"items":{"$ref":"#/components/schemas/User"},"type":"array"},{"$ref":"#/components/schemas/User"},{"type":"null"}],"title":"User"}},"type":"object","required":["status_code","message","access_token","token_type"],"title":"TokenResponse"},"User":{"properties":{"Usercode":{"type":"string","title":"Usercode"},"Email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"HeadChurch_Code":{"type":"string","title":"Headchurch Code"},"Is_Member":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Member","default":false},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":false},"Title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"Titl2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Titl2"},"First_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name"},"Last_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name"}},"type":"object","required":["Usercode","HeadChurch_Code"],"title":"User"},"UserAccess":{"properties":{"Usercode":{"type":"string","title":"Usercode"},"Email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"Is_Member":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Member","default":false},"Level_Code":{"type":"string","title":"Level Code"},"Level_No":{"type":"integer","title":"Level No"},"Role_Code":{"type":"string","title":"Role Code"},"Church_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Church Code"},"ChurchLevel_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Churchlevel Code"},"Church_Level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Church Level"},"HeadChurch_Code":{"type":"string","title":"Headchurch Code"},"Module_Code":{"type":"string","title":"Module Code"},"SubModule_Code":{"type":"string","title":"Submodule Code"},"Access_Type":{"type":"string","title":"Access Type"},"Title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"Titl2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Titl2"},"First_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name"},"Last_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name"}},"type":"object","required":["Usercode","Level_Code","Level_No","Role_Code","HeadChurch_Code","Module_Code","SubModule_Code","Access_Type"],"title":"UserAccess"},"UserDetails":{"properties":{"Usercode":{"type":"string","title":"Usercode"},"Email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"Roles":{"anyOf":[{"items":{"$ref":"#/components/schemas/UserRoles"},"type":"array"},{"$ref":"#/components/schemas/UserRoles"},{"type":"null"}],"title":"Roles"},"Level_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Level Code"},"SubModules":{"anyOf":[{"items":{"$ref":"#/components/schemas/UserSubModules"},"type":"array"},{"$ref":"#/components/schemas/UserSubModules"},{"type":"null"}],"title":"Submodules"},"First_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name"},"Last_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name"},"Title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"Title2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title2"},"Is_Member":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Member","default":false},"Branch_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Code"},"Branch_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch Name"},"HeadChurch_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headchurch Code"},"Is_Active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","default":false},"is_Verified":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Verified","default":false},"Password_Reset":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Password Reset","default":false},"Created_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created By"},"Created_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Date"},"Modified_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modified By"},"Modified_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Modified Date"},"Status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"},"Status_By":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status By"},"Status_Date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Status Date"}},"type":"object","required":["Usercode"],"title":"UserDetails"},"UserLevel":{"properties":{"Usercode":{"type":"string","title":"Usercode"},"Email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"Level_Code":{"type":"string","title":"Level Code"},"ChurchLevel_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Churchlevel Code"},"HeadChurch_Code":{"type":"string","title":"Headchurch Code"},"Title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"Titl2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Titl2"},"First_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name"},"Last_Name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name"}},"type":"object","required":["Usercode","Level_Code","HeadChurch_Code"],"title":"UserLevel"},"UserLevels":{"properties":{"Level_Code":{"type":"string","title":"Level Code"},"ChurchLevel_Code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Churchlevel Code"},"Church_Level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Church Level"}},"type":"object","required":["Level_Code"],"title":"UserLevels"},"UserResponse":{"properties":{"status_code":{"type":"integer","title":"Status Code"},"message":{"type":"string","title":"Message"},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/UserDetails"},"type":"array"},{"$ref":"#/components/schemas/UserDetails"},{"type":"null"}],"title":"Data"}},"type":"object","required":["status_code","message"],"title":"UserResponse"},"UserRoles":{"properties":{"Role_Code":{"type":"string","title":"Role Code"},"Role_Name":{"type":"string","title":"Role Name"},"Level_Code":{"type":"string","title":"Level Code"},"ChurchLevel_Code":{"type":"string","title":"Churchlevel Code"},"Church_Level":{"type":"string","title":"Church Level"},"Is_Active":{"type":"boolean","title":"Is Active"},"Status":{"type":"string","title":"Status"}},"type":"object","required":["Role_Code","Role_Name","Level_Code","ChurchLevel_Code","Church_Level","Is_Active","Status"],"title":"UserRoles"},"UserSubModules":{"properties":{"Module_Code":{"type":"string","title":"Module Code"},"Module_Name":{"type":"string","title":"Module Name"},"Submodule_Code":{"type":"string","title":"Submodule Code"},"Submodule_Name":{"type":"string","title":"Submodule Name"},"Access_Type":{"type":"string","title":"Access Type"},"Level_Code":{"type":"string","title":"Level Code"},"ChurchLevel_Code":{"type":"string","title":"Churchlevel Code"},"Church_Level":{"type":"string","title":"Church Level"},"Is_Active":{"type":"boolean","title":"Is Active"},"Status":{"type":"string","title":"Status"}},"type":"object","required":["Module_Code","Module_Name","Submodule_Code","Submodule_Name","Access_Type","Level_Code","ChurchLevel_Code","Church_Level","Is_Active","Status"],"title":"UserSubModules"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"OAuth2PasswordBearer":{"type":"oauth2","flows":{"password":{"scopes":{},"tokenUrl":"auth/login"}}}}},"tags":[{"name":"Authentication Operations","description":"Operations on User Authentications"},{"name":"Hierarchy Sub-Module Operations","description":"Operations on the Church Sub-Module Hirarchy"},{"name":"Head Church Sub-Module Operations - Super Admin only","description":"Operations on the Head Church Sub-Module by Super Admins only"},{"name":"Head Church Sub-Module Operations","description":"Operations on the Head Church"},{"name":"Churches Sub-Module Operations - Admin only","description":"Operations on the Churches Sub-Module by Admins only"},{"name":"Churches Sub-Module Operations","description":"Operations on the Churches Sub-Module"},{"name":"Church Leads Sub-Module Operations - Admin only","description":"Operations on the Church Leads Sub-Module by Admins only"},{"name":"Church Leads Sub-Module Operations","description":"Operations on the Church Leads Sub-Module"},{"name":"Groups Sub-Module Operations - Admin only","description":"Operations on the Groups Sub-Module by Admins only"},{"name":"Groups Sub-Module Operations","description":"Operations on the Groups Sub-Module"},{"name":"Sub Groups Sub-Module Operations - Admin only","description":"Operations on the Sub Groups by Admins only"},{"name":"Sub Groups Sub-Module Operations","description":"Operations on the Sub Groups Sub-Module"},{"name":"Members Sub-Module Operations - Admin only","description":"Operations on the Sub Groups by Admins only"},{"name":"Members Sub-Module Operations","description":"Operations on the Sub Groups Sub-Module"},{"name":"Member-Branch Sub-Module Operations - Admin only","description":"Operations on the Member's Branch by Admins only"},{"name":"Member-Branch Sub-Module Operations","description":"Operations on the Member's Branch Sub-Module"},{"name":"Users Administration Sub-Module Operations - Admin only","description":"Operations on User Administration by Admins only"},{"name":"Users Administration Sub-Module Operations","description":"Operations on User Administration Sub-Module"}]}